/*-----BACKGROUND-----*/
main {
    /*position*/
    width: 100%;
    height: 100vh;
    /*arrange content*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.backBrightness{
    /*position*/
    position:absolute;
    width:100%;
    height:100%;
    /*formatting*/
    background-color:rgba(0,0,0,0);
}
/*------CLOCK BOX-----*/
.clock-div{
    /*position*/
    min-width:32rem;
    box-sizing: border-box;
    margin-bottom:6rem;
    padding:1rem;
    /*arrange content*/
    display:flex;
    /*justify-content: ;*/
    align-items: center;
    /*formatting*/
    border-radius: 10px;
    background-color: whitesmoke;
    filter:opacity(40%);
    /*font*/
    font-size: 7rem;
    font-family: Algerian, sans-serif;
}
#h, #min, #sec{
    width:9.3rem;
    text-align: center;
}
span{
    width:2rem;
    /*filter:opacity(50%);*/
}
/*---------INFO BUTTON-------*/
.info{
    /*position*/
    position:fixed;
    bottom:3vh;
    left:1.6vw;
    /*formatting*/
    border-radius: 100%;
    /*color:whitesmoke;*/
    filter:opacity(50%);
}
.i-night{
    /*formatting*/
    color:whitesmoke;
}
.i-night:hover{
    /*formatting*/
    color:black;
    background-color: whitesmoke;
}
.i-day{
    /*formatting*/
    color:black;
}
.i-day:hover{
    /*formatting*/
    color:whitesmoke;
    background-color: black;
    filter:opacity(40%);
}
/*-----info content-----*/
.info-content{
    /*position*/
    position:absolute;
    bottom:1.2rem;
    left:1.3rem;
    padding:0.8rem;
    /*height:14rem;*/
    width:18rem;
    /*formatting*/
    color:inherit;
    background-color: inherit;
    border-radius: 5px;
    text-align: center;
    font-family: 'Karma', serif;
}
/*-----BACK BUTTON-----*/
.linklist{
    /*position*/
    position:fixed;
    top:1.5vh;
    left:2vh;
    /*formatting*/
    font-size: 1.4rem;
    filter:opacity(50%);
    border-radius: 100%;
}
.linklist:hover{
     filter:opacity(85%);
 }
.linklist-day{
    color:black;
}
.linklist-night{
    color:whitesmoke;
}
/*-----CHANGE COLOR-----*/
.colorBtn{
    /*position*/
    position:fixed;
    bottom:3vh;
    left:50%;
    padding:0.1rem;
    /*formatting*/
    filter:opacity(50%);
    border-radius: 5px;
}
.choseColorBox{
    /*position*/
    position:absolute;
    width:8.5rem;
    height:86%;
    top:7%;
    left:104%;
    padding-right:0.4rem;
    padding-left:0.6rem;
    /*arrange content*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    /*formatting*/
    border-radius: 0 5px 5px 0;
    background-color: whitesmoke ;
    cursor:default;
}
.colorBox{
    /*position*/
    height:65%;
    width:1.2rem;
    display:block;
    /*formatting*/
    background-color: black;
    border-radius: 3px;
    cursor:pointer;
    border:1px solid white;
}
#white{
    /*color*/
    background-color: rgba(0,0,0,1);
}
#blue{
    /*color*/
    background-color: rgba(0,188,212,1);
}
#green{
    /*color*/
    background-color: rgba(0,204,8,1);
}
#yellow{
    /*color*/
    background-color: rgba(255,229,0,1);
}
#pink{
    /*color*/
    background-color: rgba(233,30,99,1);
}






/*TODO: MAKE TRANSITION ON BACK/HOME BUTTON*/
/*--IT HAS TO BE AT THE BOTTOM--*/
.none{
    display:none;
}